@page
@model garden.Pages.CartModel
@{
    ViewData["Title"] = "Shopping Cart";
}
<!DOCTYPE html>
<html>
<head>
    <title>Cart Items</title>
    <link rel="stylesheet" href="~/css/products.css" asp-append-version="true" />
</head>
<body>
    <div id="cart-container">
        <div id="cart-items"></div>
        <div id="cart-total"></div>
    </div>

    <script src="script.js"></script>
</body>
</html>

