@page
@model garden.Pages.Products.LawnmoversModel
@{
    ViewData["Title"] = "Lawn Movers";
}
<!DOCTYPE html>
<html>
<head>
    <title>Lawn Mowers Shop</title>
    <link rel="stylesheet" href="~/css/products.css" asp-append-version="true" />
</head>
<body>
    <div class="product-card">
        <div class="card">
            <img src="mower1.jpg" alt="Lawn Mower 1">
            <h5 class="card-title">Gas-powered Lawn Mower</h5>
            <p class="card-price">$199.99</p>
            <button class="add-to-cart" data-name="Gas-powered Lawn Mower" data-price="199.99">Add to Cart</button>
        </div>
        <div class="card">
            <img src="mower2.jpg" alt="Lawn Mower 2">
            <h5 class="card-title">Electric Lawn Mower</h5>
            <p class="card-price">$149.99</p>
            <button class="add-to-cart" data-name="Electric Lawn Mower" data-price="149.99">Add to Cart</button>
        </div>
        <div class="card">
            <img src="mower3.jpg" alt="Lawn Mower 3">
            <h5 class="card-title">Robotic Lawn Mower</h5>
            <p class="card-price">$399.99</p>
            <button class="add-to-cart" data-name="Robotic Lawn Mower" data-price="399.99">Add to Cart</button>
        </div>
        <div class="card">
            <img src="mower4.jpg" alt="Lawn Mower 4">
            <h5 class="card-title">Push Reel Lawn Mower</h5>
            <p class="card-price">$89.99</p>
            <button class="add-to-cart" data-name="Push Reel Lawn Mower" data-price="89.99">Add to Cart</button>
        </div>
        <div class="card">
            <img src="mower5.jpg" alt="Lawn Mower 5">
            <h5 class="card-title">Cordless Lawn Mower</h5>
            <p class="card-price">$279.99</p>
            <button class="add-to-cart" data-name="Cordless Lawn Mower" data-price="279.99">Add to Cart</button>
        </div>
        <!-- Add more lawn mower cards with the same structure -->
    </div>

   
</body>
</html>
