/* _content/garden/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html[b-nk023v7m6a] {
    font-size: 14px;
    color: white;
    height: 100%;
}


a.navbar-brand[b-nk023v7m6a] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-nk023v7m6a] {
  color: #0077cc;
}

.btn-primary[b-nk023v7m6a] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-nk023v7m6a], .nav-pills .show > .nav-link[b-nk023v7m6a] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-nk023v7m6a] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-nk023v7m6a] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-nk023v7m6a] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-nk023v7m6a] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-nk023v7m6a] {
  position: relative;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
p[b-nk023v7m6a] {
    font-size:18px;
    text-align:center;
    font-style: italic;
    color: white;
}



@media (max-width:484px) {
    .footer[b-nk023v7m6a] {
        font-size:12px;
    }
    p[b-nk023v7m6a] {
        font-size:14px;

    }
   
   
    h1[b-nk023v7m6a] {
        font-size: 18px;
    }
}

@media (max-width:436px) {
    .footer[b-nk023v7m6a] {
        font-size: 10px;
    }

    .footer-font[b-nk023v7m6a] {
        font-size: 10px;
    }

   
}
